.square-design {
  height: 15vw;
  width: 15vw;
  background-color: beige;
  border: 1px gray solid;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 5vw;
}

.square-design:focus {
  outline: none;
}
